<h1> Signup Page </h1>
<form action='/users/signup' method="POST">
    Username: <input type=text name="username">
    Password: <input type=password name="password_digest">
    <input type=submit>
</form>