

<form action="/products/<%= @product.id %>" method="post">
<input type="hidden" name="_method" value="PATCH">
Description: <input id="description" type="text" name="description" value="<%= @product.description %>">
Rating: <input id="rating" type="text" name="rating" value="<%= @product.rating %>">
Price: <input id="price" type="text" name="price" value="<%= @product.price %>">


<select id="reorder" type="textarea" name="reorder"><br>
    <option value="true">yes</option>
    <option value="false">no</option></select>

<input id="submit" type="submit" value="edit">

</form>





