<form action="/products" method="post">
  <input id="description" type="text" name="description">
  <input id="rating" type="textarea" name="rating">
  <input id="price" type="textarea" name="price">
  <input id="reorder" type="textarea" name="reorder">
  <input id="user_id" type="textarea" name="user_id">
  <input type="submit"> 
</form>

