<form action="/products" method="post">
  Description: <input id="description" placeholder="product's name and benefits" type="text" name="description"><br>
  Rating: <input id="rating" placeholder="1-5" type="textarea" name="rating"><br>
  Price: <input id="price" placeholder="$" type="textarea" step="any" name="price"><br>
  Reorder: <input id="reorder" placeholder="Yes/No" type="textarea" name="reorder"><br>
  <input type="submit"><br> 
</form>
