<form action="/products" method="post">
  Description: <input id="description" type="text" name="description"><br>
  Rating: <input id="rating" type="textarea" name="rating"><br>
  Price: <input id="price" type="textarea" name="price"><br>
  Reorder: <input id="reorder" type="textarea" name="reorder"><br>
  <input type="submit"><br> 
</form>

