<form action="/products" method="post">
  Description: <input id="description" placeholder="product's name and benefits" type="text" name="description"><br>
  Rating: <input id="rating" placeholder="0-5 stars" type="textarea" step="0.01" min="0" max="5" name="rating"><br>
  Price: <input id="price" placeholder="1.0" type="number" step="0.01" min="0" max="100" value="decimals" name="price"><br>
  Reorder: <select id="reorder" type="textarea" name="reorder"><br>
    <option value="true">yes</option>
    <option value="false">no</option></select>
  <input type="submit"><br> 
</form>
 

<!-- step="0.01"-->
<!-- step="0.01" value="decimals"-->