<h1> Welcome </h1>
Welcome to the Skincare Reviews! Please SIGNUP or LOGIN to share your products skincare review.
<form action='/application/welcome' method="POST">
</form>


<!--<h1> Signup Page </h1>-->
<!--<form action='/users/signup' method="get">
    <input type="submit" value="Sign Me Up">
</form>-->

<br><p>A new User?, <a href="/users/signup">Let's Signup!</a></p>

<!--<h1> Login Page </h1>
<form action='/users/login' method="get">
    <input type="submit" value="Let's Go!">
</form>-->

<br><p>If already a user, <a href="/users/login">Let's Go!</a></p>